certifi==2021.5.30
chardet==4.0.0
h5py==3.2.1
idna==2.10
joblib==1.0.1
kafka-python==2.0.2
Keras==2.4.3
numpy==1.20.3
pycoingecko==2.1.0
PyYAML==5.4.1
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
threadpoolctl==2.1.0
urllib3==1.26.5
xmlrunner==1.7.7
